.copyright {
    border-top: 1px solid gray;
    height: 79px;
    width: 1768px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.copyright p {
    width: 1510px;
    margin: auto;
}

@media (max-width: 1700px) {
    .copyright {
        width: 1550px;
    }

    .copyright p {
        width: 1200px;
    }
}

@media (max-width: 1440px) {
    .copyright {
        width: 1290px;
    }

    .copyright p {
        width: 1000px;
    }
}

@media (max-width: 1360px) {
    .copyright {
        width: 1210px;
    }

    .copyright p {
        width: 900px;
    }
}

@media (max-width: 400px) {
    .copyright {
        width: 100%;
        position: unset;
        margin-top: 10px;
        text-align: center;
    }
}